@page "/ProductDetails"
@using StockIT.Models
@model StockIT.Pages.ProductDetailsModel

<div class="container mt-3">
    <h1>Product Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @foreach (var image in Model.ProductModel.ImagePaths)
                    {
                        int index = Model.ProductModel.ImagePaths.IndexOf(image);
                        <li data-target="#carousel-example-generic" data-slide-to="@index" class="@(index == 0 ? "active":"")"></li>
                    }
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @foreach (var image in Model.ProductModel.ImagePaths)
                    {
                        int index = Model.ProductModel.ImagePaths.IndexOf(image);
                        <div class="carousel-item @(index == 0 ? "active":"")">
                            <img src="@image" class="img-fluid" alt="">
                        </div>
                    }

                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <span id="name" class="form-control">@Model.ProductModel.Name</span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <p id="description" class="form-control">@Model.ProductModel.Description</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity:</label>
                <span id="quantity" class="form-control">@Model.ProductModel.Quantity</span>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <span id="category" class="form-control">@Model.ProductModel.category.Name</span>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <span id="price" class="form-control">@Model.ProductModel.Price.ToString("C")</span>
            </div>
        </div>
    </div>
</div>
