@page "/ProductDetails"
@using StockIT.Models
@model StockIT.Pages.ProductDetailsModel

<div class="container mt-3">
    <h1>Product Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <span id="name" class="form-control">@Model.ProductModel.Name</span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <p id="description" class="form-control">@Model.ProductModel.Description</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity:</label>
                <span id="quantity" class="form-control">@Model.ProductModel.Quantity</span>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <span id="category" class="form-control">@Model.ProductModel.category.Name</span>  </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <span id="price" class="form-control">@Model.ProductModel.Price.ToString("C")</span>  </div>
        </div>
    </div>
</div>