@page "/ProductDetails"
@using StockIT.Models
@model StockIT.Pages.ProductDetailsModel

<div class="container mt-3">
    <h1>Product Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @foreach (var image in Model.ProductModel.ImagePaths)
                    {

                        int index = Model.ProductModel.ImagePaths.IndexOf(image);
                        <li data-target="#carousel-example-generic" data-slide-to="@index" class="@(index == 0 ? "active" : "")"></li>
                    }
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @foreach (var image in Model.ProductModel.ImagePaths)
                    {
                        int index = Model.ProductModel.ImagePaths.IndexOf(image);
                        <div class="carousel-item @(index == 0 ? "active" : "")">
                            <img src="@image" class="img-fluid" alt="">
                        </div>
                    }

                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <h1>@Model.ProductModel.Name</h1>
                <h2>@Model.ProductModel.category.Name</h2>
            </div>
            <div class="mb-3">
                <p>Quantity : @Model.ProductModel.Quantity </p>
                <p>Price : @Model.ProductModel.Price.ToString("C") </p>
            </div>
        </div>
    </div>
    <div class="row">
            <label>Description:</label>
            <p>@Html.Raw(Model.ProductModel.Description)</p>
    </div>
</div>
